<div class="container">
  <div class="header">
    <%= link_to "マチカフェ", top_path, class: "brand-logo" %>
  </div>

  <div class="content">
    <div class="left-column">
      <%= form_with url: cafes_path, method: :get, local: true do %>
        <div>
          <label for="q_name_cont">名前で検索</label>
          <%= text_field_tag 'q[name_cont]', params.dig(:q, :name_cont), id: 'q_name_cont' %>
        </div>
        <div>
          <%= submit_tag "検索" %>
        </div>
      <% end %>

      <h1>お店一覧</h1>
      <ul>
        <% @cafes.each do |cafe| %>
          <li>
            <strong><%= link_to cafe.name, cafe_path(cafe) %></strong><br>
            <%= cafe.description %><br>
            <%= cafe.address %>
          </li>
        <% end %>
      </ul>
      <%= link_to "お店一覧を見る", cafes_path, class: "btn btn-primary" %>

    </div>
    <div class="right-column">
      <h1>新着レビュー</h1>
      <ul>
        <% @reviews.each do |review| %>
            <strong><%= link_to review.cafe.name, cafe_path(review.cafe) %></strong><br>
            <p><strong>User Name: <%= review.user.name %></strong></p>
            <p>評価: <%= review.rating %></p>
            <p>コメント: <%= review.comment %></p>

        <% end %>

      <!-- ランキングリストをここに追加 -->
    </div>
  </div>
</div>

