<div class="container">
  <div class="header">
    <%= link_to "マチカフェ", top_path, class: "brand-logo" %>
  </div>

  <div class="content">
    <div class="left-column">
      <%= form_with url: cafes_path, method: :get, local: true do %>
        <div>
          <label for="q_name_cont">名前で検索</label>
          <%= text_field_tag 'q[name_cont]', params.dig(:q, :name_cont), id: 'q_name_cont' %>
        </div>
        <div>
          <%= submit_tag "検索" %>
        </div>
      <% end %>

      <h1>お店一覧</h1>
      <ul>
        <% @cafes.each do |cafe| %>
          <li>
            <strong><%= link_to cafe.name, cafe_path(cafe) %></strong><br>
            <%= cafe.description %><br>
            <%= cafe.address %>
          </li>
        <% end %>
      </ul>
      <%= link_to "お店一覧を見る", cafes_path, class: "btn btn-primary" %>

    </div>
    <div class="right-column">
      <h1>新着レビュー</h1>
        <ul>
          <% @reviews.each do |review| %>
            <li>
              <strong><%= link_to review.cafe.name, cafe_path(review.cafe) %></strong><br>
              <p><strong>User Name: <%= review.user.name %></strong></p>
              <p>評価: <span id="review_rating_<%= review.id %>"></span></p>
              <p>コメント: <%= review.comment %></p>
              <p>投稿時間: <%= review.created_at.strftime('%Y年%m月%d日 %H:%M') %></p>
            </li>

            <script>
              $(document).on('turbolinks:load', function() {
                let elem = document.querySelector('#review_rating_<%= review.id %>');
                if (elem == null) return;

                elem.innerHTML = ""
                let opt = {
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  score: <%= review.rating %>,
                  readOnly: true
                };
                raty(elem, opt);
              });
            </script>
          <% end %>
        </ul>

      <!-- ランキングリストをここに追加 -->
    </div>
  </div>
</div>
