<h1>
  <% if @tag.present? %>
    <%= @tag.name %> に関連するレビュー
  <% else %>
    すべてのレビュー
  <% end %>
</h1>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <strong>カフェ: <%= link_to review.cafe.name, cafe_path(review.cafe) %></strong><br>
      <strong>レビューを書いたユーザー: <%= link_to review.user.name, user_path(review.user) %></strong><br>
      <p>評価: <%= review.rating %></p>
      <p>コメント: <%= review.comment %></p>
      <p>投稿日: <%= l(review.created_at, format: :short) %></p>

      <!-- コメント一覧を表示 -->
      <ul>
        <% review.comments.each do |comment| %>
          <li><%= comment.comment_content %> - <%= comment.user.name %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
