<h1>Show Cafe</h1>
<p>
  Name: <%= @cafe.cafe_name %>
</p>
<p>
  Address: <%= @cafe.address %>
</p>
<p>
  Description: <%= @cafe.description %>
</p>
<p>
  Category ID: <%= @cafe.category_id %>
</p>
<%= link_to 'Edit', edit_cafe_path(@cafe) %>
<%= link_to 'Back', cafes_path %>
