<h1>全ユーザー一覧</h1>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, admin_user_path(user) %> - <%= user.email %>
      <!-- リンクを追加 -->
      <%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' } %>
    </li>
  <% end %>
</ul>

<h1>全カフェ一覧</h1>
<ul>
  <% @cafes.each do |cafe| %>
    <li>
      <strong><%= link_to cafe.name, admin_cafe_path(cafe) %></strong><br>
      <%= cafe.description %><br>
      <%= cafe.address %>
      <p>
        <%= link_to '編集', edit_admin_cafe_path(cafe) %> |
        <%= link_to '削除', admin_cafe_path(cafe), method: :delete, data: { confirm: '本当に削除しますか？' } %>
      </p>
    </li>
  <% end %>
  </ul>
  <%= link_to 'Create New Cafe', new_admin_cafe_path %>

</ul>

<h1>全レビュー一覧</h1>
<ul>
  <% @reviews.each do |review| %>
    <p>User Name: <%= link_to review.user.name, user_path(review.user) %></p>
    <p>総合評価: <spsn id="cafe_rating_review_<%= review.id %>"></spsn></p>
    <p>レビュー内容: <%= review.comment %></p>
    <p>
      <%= link_to '削除', admin_review_path(review), method: :delete, data: { confirm: '本当に削除しますか？' } %>
    </p>

    <script>
      $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#cafe_rating_review_<%= review.id %>');
        if (elem == null) return;

        elem.innerHTML = ""
        let opt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          score: <%= review.rating %>,
          readOnly: true
        };
        raty(elem, opt);
      });
    </script>

<% end %>