<h1>Show Review</h1>
<p>
  User ID: <%= @review.user_id %>
</p>
<p>
  Cafe ID: <%= @review.cafe_id %>
</p>
<p>
  Comfort Rating: <%= @review.comfort_rating %>
</p>
<p>
  Talk Rating: <%= @review.talk_rating %>
</p>
<p>
  Ambiance Rating: <%= @review.ambiance_rating %>
</p>
<p>
  Comment: <%= @review.comment %>
</p>
<%= link_to 'Edit', edit_review_path(@review) %>
<%= link_to 'Back', reviews_path %>

<h3>コメントを追加</h3>
<%= form_with(model: [ @review, @review.comments.build ], local: true) do |f| %>
  <div>
    <%= f.label :content, "コメント" %>
    <%= f.text_area :content %>
  </div>
  <div>
    <%= f.submit "コメントを投稿" %>
  </div>
<% end %>

<h3>コメント一覧</h3>
<% @review.comments.each do |comment| %>
  <p><strong><%= comment.user.email %>:</strong> <%= comment_content %></p>
<% end %>