<%= form_with model: @cafe, local: true do |form| %>
  <div>
    <%= form.label :cafe_name %>
    <%= form.text_field :cafe_name %>
  </div>
  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :category_id %>
    <%= form.number_field :category_id %>
  </div>
  <div>
    <%= form.label :image, "カフェの写真" %>
    <%= form.file_field :image %>
  </div>
  <div>
    <%= form.submit '送信' %> <!-- 提出ボタンも追加することをお勧めします -->
  </div>
<% end %>
