<h1>Show Cafe</h1>
<p>
  Name: <%= @cafe.name %>
</p>
<p>
  Address: <%= @cafe.address %>
</p>
<p>
  Description: <%= @cafe.description %>
</p>
<p>
  Category ID: <%= @cafe.category_id %>
</p>
<p>
  <%= image_tag @cafe.image if @cafe.image.attached? %>
</p>

<%= link_to "戻る", cafes_path %>
<!-- <= link_to 'Upload a New Photo', edit_cafe_path(@cafe) %> -->




<!-- app/views/cafes/show.html.erb -->
<h1><%= @cafe.cafe_name %></h1>
<p><%= @cafe.description %></p>



<h2>レビュー一覧</h2>
<% @cafe.reviews.each do |review| %>
  <p>User Name: <%= link_to review.user.name, user_path(review.user) %></p>
  <p>総合評価: <%= review.rating %></p>
  <p>レビュー内容: <%= review.comment %></p>

  <h3>コメント一覧</h3>
  <% review.comments.each do |comment| %>
    <div>
      <p><strong><%= comment.user.name %>:</strong> <%= comment.comment_content %></p>
  <% end %>
  <!-- コメント一覧 -->


  <!-- コメントフォーム -->
  <%= form_with(model: [review, review.comments.build], url: cafe_review_comments_path(@cafe, review), local: true) do |f| %>
    <div>
      <%= f.label :comment_content, "コメント" %>
      <%= f.text_area :comment_content %>
    </div>
    <div>
      <%= f.submit "コメントを投稿" %>
    </div>
  <% end %>
<% end %>



<h2>新しいレビューを書く</h2>
<%= form_with(model: [ @cafe, @cafe.reviews.build ], local: true) do |f| %>
  <div>
    <%= f.label :rating, "評価 (1-5)" %>
    <%= f.number_field :rating, in: 1..5 %>
  </div>
  <div>
    <%= f.label :comment, "レビュー内容" %>
    <%= f.text_area :comment %>
  </div>
  <div>
    <%= f.submit "レビューを投稿" %>
  </div>
<% end %>
