<!DOCTYPE html>
<html>
<head>
  <title>Admin - Meshiterro</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <% if admin_signed_in? %>
    <div class="nav-item">
      <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
    </div>
    <li class="nav-item">
      <%= link_to 'dashboards', admin_dashboards_path, class: 'nav-link text-dark' %>
    </li>
  <% end %>
  <%= yield %>
</body>
</html>